.idea
dist
elm-stuff
node_modules
webpack.local.config.js
.env*
yarn-error.log

*~
*.bak

.DS_Store
.firebase

# Most organization specific static files are copied from the tracked orgs/ folders using 'yarn setup <organization>'
src/static/org
src/static/favicon.ico