* {
    box-sizing: content-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: #3c505e;
    margin: 0;
    background-color: #00252c;
}

a:link,
a:active,
a:visited {
    color: #fc6;
}

a:hover {
    color: #ff9;
}

.box {
    background-color: #00323a;
    color: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
}

header {
    margin: 1rem;
    padding: 8px;
    display: flex;
    flex: 1;
    color: white;

    > span {
        flex-grow: 1;
    }

    svg {
        width: 50px;
        height: 50px;
    }
}

.tab-bar {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #00323a;
    color: #fff;
    border-radius: 8px;

    a {
        display: inline-block;
        padding: 0.5rem;
        text-decoration: none;
        margin-right: 0.5rem;
        outline: none;

        &.selected-tab {
            background-color: #044;
        }
    }
}

button {
    padding: 0 1rem;
    border-radius: 0.25rem;
    appearance: none;
    font-size: 1rem;
    height: 1.75rem;
    border: 1px solid #104048;
    color: #fff;
    background-color: #345d63;
    cursor: pointer;
    min-width: 4rem;

    &:hover {
        background-color: #446d73;
    }
}

button + button, input + button {
    margin-left: 10px;
}

input {
    appearance: none;
    border-radius: 0.25rem;
    background-color: #eee;
    border: 1px solid #104048;
    line-height: 1.25rem;
    font-size: 1em;
    padding: 0.25rem 0.5rem;
    outline: none;

    &:focus {
        background-color: #fff;
    }

    &:disabled {
        color: #666;
    }
}

dl {
    margin-bottom: 1rem;
}

dl dt {
    float: left;
    font-weight: normal;
    margin-right: 0.25rem;
    padding: 0.25rem;
    width: 100px;
    text-align: right;
}

dl dd {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin: 1rem 0;

    th, td {
        padding: 0.5rem;
        border: 1px solid #345d63;
    }
}

.shop-user button {
    min-width: 1rem;
}

.shop-user tr td:nth-child(1),
.shop-user tr td:nth-child(2),
.shop-user tr td:nth-child(3) {
    width: 3rem;
    text-align: center;
}

@import "waiting";
