* {
    box-sizing: border-box;
}

:root {
    --background: #E7E8E9;
    --primary-2: #71D6E0;
    --primary-2-hover: rgba(113, 214, 224, 0.8);
    --primary: #000;
    --section-background: #fff;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    color: var(--primary);
    margin: 0;
    background-color: var(--background);
}

.title-bar {
    padding: 24px;
    position: relative;
    text-align: center;
    font-weight: 500;

    .go-back {
        position: absolute;
        left: 24px;
        top: 24px;

        a {
            color: #000;
            text-decoration: none;
            font-weight: 400;
        }
    }
}

a:link,
a:active,
a:visited {
    color: #fc6;
}

a:hover {
    color: #ff9;
}

.box {
    background-color: transparent;
    color: var(--primary);
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 48px;
    background-color: var(--primary-2);

    display: flex;
    flex: 1;
    color: white;

    > span {
        flex-grow: 1;
    }

    div {
        align-self: center;
    }

    svg {
        width: 32px;
        height: 32px;
        margin: 8px 0 8px 1rem;
    }
}

main {
    margin-top: 96px;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.overview {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 320px 1fr;

    .sidebar {
        width: 320px;

        .token-name {
            font-weight: bold;
            display: block;
        }

        .token-id {
            font-weight: normal;
            display: block;
        }


    }

    .main {

    }
}

.shop {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 320px 320px 320px;

    .left {
        width: 320px;
    }

    .middle {
        width: 320px;
    }

    .right {
        width: 320px;
    }
}


.section-box {
    margin-bottom: 24px;
    border-radius: 12px;
    background: var(--section-background);
    overflow: hidden;

    > div {
        border-bottom: 1px solid var(--background);
        min-height: 88px;
        padding: 24px;
        display: grid;
        place-items: center start;

        &:last-child {
            border-bottom: none;
        }

        &.active {
            background-color: #CFD2D3;
        }
    }

    .action-button {
        background: inherit;
        border: none;
        font-weight: bold;
        margin: 0;
        padding: 0;
        line-height: 1em;
        align-self: center;
    }

    .buy-button {
        border: none;
        font-weight: bold;
        margin: 0;
        padding: 0;
        line-height: 1em;
        align-self: center;
        background-color: #37424A;
        color: #fff;

        > button {
            background: inherit;
            color: inherit;
            border: none;
            font-weight: bold;
            margin: 0;
            padding: 0 1rem;
            line-height: 1em;
            align-self: center;
        }

        .disabled-button {
            opacity: 0.5;
        }
    }

    .disabled-button {
        background: inherit;
        border: none;
        font-weight: bold;
        margin: 0;
        padding: 0;
        line-height: 1em;
        align-self: center;
        opacity: 0.5;
    }

    .section-header {
        font-weight: 500;
        margin: 0;
        padding: 0 1.5rem;
        line-height: 1em;
        align-self: center;
    }
}

.pseudo-button {
    cursor: pointer;
}

.pseudo-button-disabled {
    opacity: 0.5;
}

.buy-button-new {
    background-color: #37424A;
    color: #fff;

    &.disabled-button-new > * {
        opacity: 0.5;
    }
}

.ticket {
    width: 100%;
    background: var(--section-background);
    padding: 0;
    border-radius: 12px;
    margin: 0 0 24px;


    .ticket-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--background);
        height: 68px; // 20 + 24x2
        margin: 0 12px 0 12px;
    }

    .product-name {
        font-weight: bold;
        flex-grow: 1;
    }

    .ticket-progress {
        height: 8px;
        background-color: #A2AD00;
        background-image: linear-gradient( -45deg, transparent 12px, rgba(0, 0, 0, .6) 12px, rgba(0, 0, 0, .6) 20px, transparent 20px, transparent );
        background-size: 60px 8px;
        animation: ticket-progress-move 2s linear infinite;
    }

    .ticket-info {
        font-size: 32px;
        margin: 0;
        padding: 0 20px 20px;
    }
}

.summary-price {
    text-align: right;
    font-size: 32px;
    place-items: center end;
}

@keyframes ticket-progress-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}

.tab-bar {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #00323a;
    color: #fff;
    border-radius: 8px;

    a {
        display: inline-block;
        padding: 0.5rem;
        text-decoration: none;
        margin-right: 0.5rem;
        outline: none;

        &.selected-tab {
            background-color: #044;
        }
    }
}

button {
    padding: 0 1rem;
    border-radius: 0.25rem;
    appearance: none;
    font-size: 1rem;
    height: 1.75rem;
    border: 0;
    color: var(--primary);
    background-color: var(--primary-2);
    cursor: pointer;
    min-width: 4rem;

    &:hover {
        background-color: var(--primary-2-hover);
    }
}

button + button, input + button {
    margin-left: 10px;
}

input {
    appearance: none;
    border-radius: 0.25rem;
    background-color: #eee;
    border: 1px solid #104048;
    line-height: 1.25rem;
    font-size: 1em;
    padding: 0.25rem 0.5rem;
    outline: none;

    &:focus {
        background-color: #fff;
    }

    &:disabled {
        color: #666;
    }
}

dl {
    margin-bottom: 1rem;
}

dl dt {
    float: left;
    font-weight: normal;
    margin-right: 0.25rem;
    padding: 0.25rem;
    width: 100px;
    text-align: right;
}

dl dd {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin: 1rem 0;

    th, td {
        padding: 0.5rem;
        border: 1px solid #345d63;
    }
}

.shop-user button {
    min-width: 1rem;
}

.shop-user tr td:nth-child(1),
.shop-user tr td:nth-child(2),
.shop-user tr td:nth-child(3) {
    width: 3rem;
    text-align: center;
}

.info-box {
    background-color: #007C92;
    color: #fff;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 30px 1fr;

    svg {
        width: 20px;
        height: 20px;

        path {
            fill: #fff;
        }
    }
}

@import "waiting";
//@import "card";
