.ui-message {
    display: flex;
    padding: var(--spacings-xLarge);
    align-items: flex-start;

    animation: fadeIn 350ms;

    svg {
        width: var(--icon-size-normal);
        height: var(--icon-size-normal);
        margin-right: var(--spacings-medium);

        path {
            fill: currentColor;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
        transform: translateY(-0.4rem);
    }
    30% {
        opacity: 0.4;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

.ui-message__content {
    flex: 1;
}
.ui-message--warning {
    background: var(--status-warning-main-backgroundColor);
    color: var(--status-warning-main-color);
}
.ui-message--error {
    background: var(--status-error-main-backgroundColor);
    color: var(--status-error-main-color);
}
.ui-message--valid {
    background: var(--status-valid-main-backgroundColor);
    color: var(--status-valid-main-color);
}
.ui-message--info {
    background: var(--status-info-main-backgroundColor);
    color: var(--status-info-main-color);
}
.ui-message--borderTop {
    border-top-left-radius: var(--border-radius-regular);
    border-top-right-radius: var(--border-radius-regular);
}
.ui-message--borderBottom {
    border-bottom-left-radius: var(--border-radius-regular);
    border-bottom-right-radius: var(--border-radius-regular);
}
.ui-message--marginTop {
    margin-top: var(--spacings-xLarge);
}
.ui-message--marginBottom {
    margin-bottom: var(--spacings-xLarge);
}

.ui-section {
    border-radius: var(--border-radius-regular);
    overflow: hidden;
    align-self: flex-start;
}
.ui-section--marginTop {
    margin-top: var(--spacings-xLarge);
}
.ui-section--marginBottom {
    margin-bottom: var(--spacings-xLarge);
}
.ui-section__paddedItem {
    padding: var(--spacings-xLarge);
    flex: 1;
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.ui-section__item {
    flex: 1;
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.ui-section__item--padded {
    padding: var(--spacings-xLarge);
}
.ui-section__item__label {
    margin-bottom: var(--spacings-medium);
}
.ui-section__item__label--compact {
    margin-bottom: var(--spacings-xSmall);
}
.ui-section__child:not(:last-child) {
    border-bottom: var(--border-width-slim) solid
        var(--colors-background_1-backgroundColor);
}
.ui-section__headerTitle {
    padding: 0;
    margin: 0;
}

// Style for ./src/Ui/LabelItem.elm
.ui-labelItem__label {
    margin-bottom: var(--spacings-medium);
}
.ui-labelItem--horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;

    .ui-labelItem__label {
        margin-bottom: 0;
    }
}
.ui-labelItem + .ui-labelItem {
    margin-top: var(--spacings-medium);
}
.ui-labelItem__label--compact {
    margin-bottom: var(--spacings-xSmall);
}
// End: Style for LabelItem.elm

.ui-group {
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-regular);
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
    margin-bottom: var(--spacings-medium);
}
.ui-group__header {
    margin: 0;
    padding: 0;
}
.ui-group__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms ease-in-out;
}
.ui-group__item:not(:last-child) {
    border-bottom: var(--border-width-slim) solid
        var(--colors-background_1-backgroundColor);
}
.ui-group__content--open {
    max-height: 600px;
    overflow: auto;
}

.ui-group__headerButton {
    font-family: var(--font-main);
    background: none;
    display: flex;
    width: 100%;
    border: 0;
    justify-content: space-between;
    align-items: center;

    transition: all 150ms ease-in-out;
    border: var(--border-width-medium) solid transparent;
    // Remove border from padding.
    padding: calc(var(--spacings-xLarge) - 2 * var(--border-width-medium));
}
.ui-group__headerButton:hover {
    background: var(--colors-background_2-backgroundColor);
    color: var(--colors-background_2-color);
}
.ui-group__headerButton:focus {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-group__headerButton:active {
    background: var(--colors-background_3-backgroundColor);
    color: var(--colors-background_3-color);
}
.ui-group__headerButton--disabled,
.ui-group__headerButton--disabled:hover {
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
    opacity: 0.4;
}
.ui-group__headerButton__title {
    display: block;
    flex: 1;
    text-align: left;
    padding: 0 var(--spacings-medium);
}
.ui-group__headerButton__value {
    margin: 0 var(--spacings-medium);
}

.ui-heading {
    margin: 0;
    padding: 0;
}

.ui-pageHeader {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacings-xLarge);
    position: relative;
    justify-content: center;
    margin-bottom: var(--spacings-xLarge);
}
.ui-pageHeader__back,
.ui-pageHeader__back:link,
.ui-pageHeader__back:visited {
    position: absolute;
    left: 0;
    top: 0;
    padding: var(--spacings-xLarge);
    color: var(--text-colors-primary);
    text-decoration: none;
    transition: opacity 150ms ease-in;

    border: 0;
    background: transparent;
    cursor: pointer;

    svg {
        margin-right: var(--spacings-medium);
    }
}
.ui-pageHeader__back:hover {
    opacity: 0.6;
}
.ui-pageHeader__back:active {
    opacity: 0.5;
}
@media (max-width: 600px) {
    .ui-heading {
        width: 100%;
        text-align: center;
    }
    .ui-pageHeader {
        padding: 0;
        justify-content: flex-start;
    }
    .ui-pageHeader__back:link,
    .ui-pageHeader__back:visited,
    .ui-pageHeader__back:hover {
        position: relative;
    }
}

.ui-input-radio {
    display: flex;
    width: 100%;
    padding: var(--spacings-xLarge);
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);

    border: var(--border-width-medium) solid transparent;
    // Remove border from padding.
    padding: calc(var(--spacings-xLarge) - 2 * var(--border-width-medium));
}
.ui-input-radioGroup .ui-group__item:last-of-type .ui-input-radio {
    border-bottom-left-radius: var(--border-radius-regular);
    border-bottom-right-radius: var(--border-radius-regular);
}
.ui-input-radio:hover {
    background: var(--colors-background_2-backgroundColor);
    color: var(--colors-background_2-color);
}
.ui-input-radio:active {
    background: var(--colors-background_3-backgroundColor);
    color: var(--colors-background_3-color);
}
.ui-input-radio__input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.ui-input-radio__input:focus + .ui-input-radio {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-input-radio__box {
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    --padding: 2px;
    --border: 2px;
    border: var(--border) solid var(--text-colors-primary);
    padding: var(--padding);
}
.ui-input-radio__box::after {
    content: '';
    display: block;
    height: calc(1rem - 2 * var(--padding));
    width: calc(1rem - 2 * var(--padding));
    border-radius: 50%;
}
.ui-input-radio__input:checked + .ui-input-radio .ui-input-radio__box::after {
    background: var(--text-colors-primary);
}
.ui-input-radio__title {
    flex: 1;
}

.ui-input-radioGroup {
    border: 0;
    padding: 0;
    margin: 0;
}
.ui-input-radioGroup__hiddenLegend {
    position: absolute;
    clip: rect(0 0 0 0);
}

.ui-button {
    display: flex;
    flex: 1;
    cursor: pointer;
    margin: 0;

    border: var(--border-width-medium) solid transparent;
    // Remove border from padding.
    padding: calc(var(--spacings-xLarge) - 2 * var(--border-width-medium));

    text-align: left;
    justify-content: space-between;
    align-items: center;
    transition: filter 150ms ease-in;
}
.ui-button__icon > :not(.ui-button__coloredIcon) {
    svg,
    path {
        fill: currentColor;
    }
}
.ui-button:hover {
    filter: brightness(90%);
}
.ui-button:active {
    filter: brightness(80%);
}
.ui-button:focus {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-button:not(.ui-button--compact) {
    width: 100%;
}
.ui-button__icon {
    margin-left: var(--spacings-small);

    svg {
        display: block;
    }
}
.ui-button--link {
    background: transparent;
    color: var(--colors-background_0-color);
    text-decoration: underline;
    justify-content: center;
}
.ui-button--link:hover {
    text-decoration: none;
}
.ui-button--link:focus {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-button--tertiary {
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.ui-button--disabled {
    cursor: not-allowed;
}
.ui-button--disabled > * {
    opacity: 0.2;
}
.ui-button--disabled:hover {
    filter: none;
}
.ui-button--compact {
    display: inline-flex;
    flex: initial;
    padding: calc(var(--spacings-medium) - 2 * var(--border-width-medium));
}
.ui-button--compact:not(.ui-button--tertiary) {
    border-radius: var(--border-radius-regular);
}
.ui-button--compact.ui-button--tertiary:hover {
    filter: none;
    opacity: 0.6;
}

.ui-textContainer--primary {
    color: var(--text-colors-primary);
}
.ui-textContainer--secondary {
    color: var(--text-colors-secondary);
}
.ui-textContainer--disabled {
    color: var(--text-colors-disabled);
}
.ui-textContainer--destructive {
    color: var(--colors-primary_destructive-backgroundColor);
}

.ui-notifications {
    position: absolute;
    top: var(--spacings-xLarge);
    right: var(--spacings-xLarge);

    max-height: 70vh;
    overflow: auto;

    z-index: 9999;
}

.ui-editSection {
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.ui-editSection__editButton {
    margin: var(--spacings-medium);
}
.ui-editSection__container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.ui-editSection__content {
    flex: 1;
}
.ui-editSection__fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
.ui-editSection__fieldset__legend {
    position: absolute;
    clip: rect(0 0 0 0);
}
.ui-editSection__fieldset__buttonGroup {
    width: 100%;
    display: flex;
    padding: var(--spacings-medium);
    justify-content: flex-end;
    align-items: center;

    animation: fadeIn 350ms;

    flex-wrap: wrap;
}
.ui-editSection__fieldset__buttonGroup__deleteText {
    margin-right: auto;
    padding: var(--spacings-medium);
    color: var(--status-error-main-backgroundColor);
}

.ui-editSection__horizontalGroup {
    display: grid;
    gap: var(--spacings-medium);
}

.ui-input-text {
    display: block;
    transition: border 150ms ease-in-out, background-color 100ms ease;
    border: var(--border-width-medium) solid transparent;

    // Remove border from padding.
    padding: calc(var(--spacings-xLarge) - var(--border-width-medium));

    svg,
    path {
        fill: currentColor;
    }

    svg {
        margin-right: var(--spacings-medium);
    }
}
.ui-input-text--error {
    border-color: var(--status-error-main-backgroundColor);
}
.ui-input-text__errorMessage {
    margin-top: var(--spacings-medium);
}
.ui-input-text:hover {
    background: var(--colors-background_2-backgroundColor);
    color: var(--colors-background_2-color);
}
.ui-input-text:active {
    background: var(--colors-background_3-backgroundColor);
    color: var(--colors-background_3-color);
}
.ui-input-text:focus-within {
    border-color: var(--colors-primary_2-backgroundColor);
}
.ui-input-text__label {
    margin-bottom: var(--spacings-medium);
}
.ui-input-text__input {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: inherit !important;
    }
}

.ui-input-text__input:focus {
    outline: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
        transform: translateY(-0.4rem);
    }
    30% {
        opacity: 0.4;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

// LoadingText.elm

.ui-loadingText {
    animation: placeHolderShimmer 1s linear infinite forwards,
        opacityIn 400ms ease;
    background: var(--colors-background_0-backgroundColor);
    background: linear-gradient(
        to right,
        var(--colors-background_2-backgroundColor) 8%,
        var(--colors-background_0-backgroundColor) 18%,
        var(--colors-background_2-backgroundColor) 33%
    );
    background-size: 800px 104px;
    height: 1rem;
    position: relative;
    display: inline-block;
    margin: 0 var(--spacings-xSmall);
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
