.message {
    display: flex;
    padding: var(--spacings-xLarge);
    align-items: flex-start;

    svg {
        width: var(--icon-size-normal);
        height: var(--icon-size-normal);
        margin-right: var(--spacings-medium);

        path {
            fill: currentColor;
        }
    }
}
.message__content {
    flex: 1;
}
.message--warning {
    background: var(--status-warning-main-backgroundColor);
    color: var(--status-warning-main-color);
}
.message--error {
    background: var(--status-error-main-backgroundColor);
    color: var(--status-error-main-color);
}
.message--valid {
    background: var(--status-valid-main-backgroundColor);
    color: var(--status-valid-main-color);
}
.message--info {
    background: var(--status-info-main-backgroundColor);
    color: var(--status-info-main-color);
}
.message--borderTop {
    border-top-left-radius: var(--border-radius-regular);
    border-top-right-radius: var(--border-radius-regular);
}
.message--borderBottom {
    border-bottom-left-radius: var(--border-radius-regular);
    border-bottom-right-radius: var(--border-radius-regular);
}
.message--marginTop {
    margin-top: var(--spacings-xLarge);
}
.message--marginBottom {
    margin-bottom: var(--spacings-xLarge);
}

.section {
    border-radius: var(--border-radius-regular);
    overflow: hidden;
}
.section--marginTop {
    margin-top: var(--spacings-xLarge);
}
.section--marginBottom {
    margin-bottom: var(--spacings-xLarge);
}
.section__item:not(:last-child) {
    margin-bottom: 1px;
    padding: var(--spacings-xLarge);
    flex: 1;
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.sectionHeaderTitle {
    padding: 0;
    margin: 0;
}

.group {
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-regular);
    background: var(--colors-background_0-backgroundColor);
    margin-bottom: var(--spacings-medium);
}
.group__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms ease-in-out;
}
.group__content--open {
    max-height: 600px;
    overflow: auto;
}

.group__headerButton {
    font-family: var(--font-main);
    background: none;
    display: flex;
    width: 100%;
    border: 0;
    justify-content: space-between;
    align-items: center;

    transition: all 150ms ease-in-out;
    border-radius: var(--border-radius-regular);
    box-sizing: border-box;
    border: var(--border-width-medium) solid transparent;
    // Remove border from padding.
    padding: calc(var(--spacings-xLarge) - 2 * var(--border-width-medium));
}
.group__headerButton:hover {
    background: var(--colors-background_2-backgroundColor);
    color: var(--colors-background_2-color);
}
.group__headerButton:focus {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.group__headerButton:active {
    background: var(--colors-background_3-backgroundColor);
    color: var(--colors-background_3-color);
}
.group__headerButton--disabled,
.group__headerButton--disabled:hover {
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
    opacity: 0.4;
}
.group__headerButton__title {
    display: block;
    flex: 1;
    text-align: left;
    padding: 0 var(--spacings-medium);
}

.ui-heading {
    margin: 0;
    padding: 0;
}
