.ui-message {
    display: flex;
    padding: var(--spacings-xLarge);
    align-items: flex-start;

    animation: fadeIn 350ms;

    svg {
        width: var(--icon-size-normal);
        height: var(--icon-size-normal);
        margin-right: var(--spacings-medium);

        path {
            fill: currentColor;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
        transform: translateY(-0.4rem);
    }
    30% {
        opacity: 0.4;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

.ui-message__content {
    flex: 1;
}
.ui-message--warning {
    background: var(--status-warning-main-backgroundColor);
    color: var(--status-warning-main-color);

    a {
        color: var(--status-warning-main-color);
    }
}
.ui-message--error {
    background: var(--status-error-main-backgroundColor);
    color: var(--status-error-main-color);

    a {
        color: var(--status-error-main-color);
    }
}
.ui-message--valid {
    background: var(--status-valid-main-backgroundColor);
    color: var(--status-valid-main-color);

    a {
        color: var(--status-valid-main-color);
    }
}
.ui-message--info {
    background: var(--status-info-main-backgroundColor);
    color: var(--status-info-main-color);

    a {
        color: var(--status-info-main-color);
    }
}
.ui-message--borderTop {
    border-top-left-radius: var(--border-radius-regular);
    border-top-right-radius: var(--border-radius-regular);
}
.ui-message--borderBottom {
    border-bottom-left-radius: var(--border-radius-regular);
    border-bottom-right-radius: var(--border-radius-regular);
}
.ui-message--marginTop {
    margin-top: var(--spacings-xLarge);
}
.ui-message--marginBottom {
    margin-bottom: var(--spacings-xLarge);
}

.ui-section {
    border-radius: var(--border-radius-regular);
    overflow: hidden;
    align-self: flex-start;
}
.ui-section--marginTop {
    margin-top: var(--spacings-xLarge);
}
.ui-section--marginBottom {
    margin-bottom: var(--spacings-xLarge);
}
.ui-section__paddedItem {
    padding: var(--spacings-xLarge);
    flex: 1;
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.ui-section__item {
    flex: 1;
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.ui-section__item--padded {
    padding: var(--spacings-xLarge);
}
.ui-section__item--horizontal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.ui-section__child:not(:last-child) {
    border-bottom: var(--border-width-slim) solid
        var(--colors-background_1-backgroundColor);
}
.ui-section__headerTitle {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    img {
        display: block;
        margin-right: var(--spacings-medium);
    }
}
.ui-section__headerTitle--padded {
    padding: var(--spacings-xLarge);
}

.ui-section__itemWithIcon {
    display: flex;
    flex: 1;
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.ui-section__itemWithIcon__icon {
    padding: var(--spacings-xLarge);

    svg {
        display: block;
        width: var(--ws-icon-size-xLarge);
    }
    svg,
    path {
        fill: currentColor;
    }
}
.ui-section__itemWithIcon__content {
    flex: 1;
}

// Style for ./src/Ui/LabelItem.elm
.ui-labelItem {
    display: block;
}
.ui-labelItem__label {
    display: block;
    margin-bottom: var(--spacings-medium);
}
.ui-labelItem--horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;

    .ui-labelItem__label {
        margin-bottom: 0;
    }
}
.ui-labelItem + .ui-labelItem {
    margin-top: var(--spacings-medium);
}
.ui-labelItem__label--compact {
    margin-bottom: var(--spacings-xSmall);
}
// End: Style for LabelItem.elm

.ui-group {
    width: 100%;
    overflow: hidden;
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);

    display: flex;
    align-items: stretch;
}
.ui-group__innerContainer {
    flex: 1;
}
.ui-group__icon {
    display: block;
    padding: var(--spacings-xLarge);

    svg {
        display: block;
    }
}
.ui-group__header {
    margin: 0;
    padding: 0;
}
.ui-group__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms ease-in-out;
    position: relative;
}
.ui-group__content--open {
    max-height: 600px;
    overflow: auto;
}

.ui-group__headerButton {
    font-family: var(--font-main);
    background: none;
    width: 100%;
    color: var(--text-colors-primary);

    transition: all 150ms ease-in-out;
    border: var(--border-width-medium) solid transparent;
    // Remove border from padding.
    padding: calc(var(--spacings-xLarge) - 2 * var(--border-width-medium));
}
.ui-group__headerButton:enabled:hover {
    background: var(--colors-background_2-backgroundColor);
    color: var(--colors-background_2-color);
    cursor: pointer;
}
.ui-group__headerButton:enabled:focus {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-group__headerButton:enabled:active {
    background: var(--colors-background_3-backgroundColor);
    color: var(--colors-background_3-color);
}
.ui-group__headerButton__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    svg,
    path {
        fill: currentColor;
    }
}
.ui-group__headerButton__content__editText {
    display: flex;

    svg {
        margin-left: var(--spacings-medium);
    }
}

@media (max-width: 500px) {
    .ui-group__headerButton__content__editText__text {
        position: absolute;
        clip: rect(0 0 0 0);
    }
}

.ui-ticketDetails {
    width: 100%;
    border-radius: var(--border-radius-regular);
    color: var(--colors-background_0-color);
    margin-bottom: var(--spacings-medium);

    --minWidthItems: 200px;
    button {
        margin-top: var(--border-width-slim);
    }
}
.ui-ticketDetails__header {
    margin: 0;
    padding: 0;
}
.ui-ticketDetails__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 300ms ease;
}
.ui-ticketDetails__content--open {
    max-height: 320px;
    overflow: auto;
}
.ui-ticketDetails__metaDataitem {
    padding-top: var(--spacings-xLarge);
    margin: var(--border-width-slim) 0;

    background-position-y: top;
    background-position-x: left, right;
    background-size: 50% 100%;
    background-repeat: no-repeat;

    border-radius: var(--border-radius-regular);
    transition: border-radius 400ms ease;

    background-image: radial-gradient(
            circle at 0 0,
            rgba(0, 0, 0, 0) 15px,
            var(--colors-background_0-backgroundColor) 15px
        ),
        radial-gradient(
            circle at 100% 0,
            rgba(0, 0, 0, 0) 15px,
            var(--colors-background_0-backgroundColor) 15px
        );

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--minWidthItems), 1fr));

    .ui-labelItem {
        margin: 0;
    }

    > :first-child {
        padding-top: 0;
    }
}
.ui-ticketDetails__metaDataitem--open {
    border-radius: 0;
}
.ui-ticketDetails__metaDataitem--padded {
    padding: var(--spacings-xLarge);
}

.ui-ticketDetails__item {
    background: var(--colors-background_0-backgroundColor);
    padding: var(--spacings-xLarge);
}
.ui-ticketDetails__item + .ui-ticketDetails__item {
    margin-top: var(--border-width-slim);
}
.ui-ticketDetails__item:last-child {
    border-bottom-left-radius: var(--border-radius-regular);
    border-bottom-right-radius: var(--border-radius-regular);
}
.ui-ticketDetails__item--horizontal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--minWidthItems), 1fr));

    .ui-labelItem {
        margin: 0;
    }
}
.ui-ticketDetails__item--statusLine {
    padding: 0;
    grid-template-columns: 1fr 1fr auto;

    .ui-labelItem {
        padding: var(--spacings-xLarge);
    }
    .ui-labelItem + .ui-labelItem {
        border-left: 1px solid var(--border-primary);
    }
}
@media (max-width: 500px) {
    .ui-ticketDetails__item--statusLine {
        grid-template-columns: 1fr;
        padding: var(--spacings-xLarge);

        .ui-labelItem {
            padding: 0;
        }
        .ui-labelItem + .ui-labelItem {
            border-left: 0;
        }
    }
}

.ui-ticketDetails__headerButton {
    font-family: var(--font-main);
    background-color: transparent;
    display: flex;
    width: 100%;
    border: 0;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    color: var(--text-colors-primary);

    transition: all 150ms ease-in-out;
    padding: var(--spacings-xLarge);
    border-radius: var(--border-radius-regular);

    position: relative;

    & > * {
        position: relative;
        z-index: 2;
    }

    cursor: pointer;

    background-position: bottom left, bottom right;
    background-size: 50% 100%;
    background-repeat: no-repeat;

    background-image: radial-gradient(
            circle at 0 100%,
            rgba(0, 0, 0, 0) 15px,
            var(--colors-background_0-backgroundColor) 15px
        ),
        radial-gradient(
            circle at 100% 100%,
            rgba(0, 0, 0, 0) 15px,
            var(--colors-background_0-backgroundColor) 15px
        );

    &::after {
        opacity: 0;
        border-radius: var(--border-radius-regular);
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        transition: opacity 150ms ease;

        background-position: bottom left, bottom right;
        background-size: 50% 100%;
        background-repeat: no-repeat;

        background-image: radial-gradient(
                circle at 0 100%,
                rgba(0, 0, 0, 0) 15px,
                var(--colors-background_2-backgroundColor) 15px
            ),
            radial-gradient(
                circle at 100% 100%,
                rgba(0, 0, 0, 0) 15px,
                var(--colors-background_2-backgroundColor) 15px
            );
        color: var(--colors-background_2-color);
    }
}
.ui-ticketDetails__headerButton:hover::after {
    opacity: 1;
}
.ui-ticketDetails__headerButton:focus {
    outline: 0;
    box-shadow: 0 0 0 var(--border-width-medium)
        var(--colors-primary_2-backgroundColor);
}
.ui-ticketDetails__headerButton:active {
    background-image: radial-gradient(
            circle at 0 100%,
            rgba(0, 0, 0, 0) 14px,
            var(--colors-background_3-backgroundColor) 15px
        ),
        radial-gradient(
            circle at 100% 100%,
            rgba(0, 0, 0, 0) 14px,
            var(--colors-background_3-backgroundColor) 15px
        );
    color: var(--colors-background_3-color);
}
.ui-ticketDetails__headerButton__icon {
    svg {
        display: block;
    }
}
.ui-ticketDetails__headerButton__title {
    display: block;
    flex: 1;
    text-align: left;
    padding: 0 var(--spacings-xLarge);
    line-height: 1.25;
}
.ui-ticketDetails__headerButton__title--active {
    font-size: 2rem;
}
.ui-ticketDetails__headerButton__title--carnet {
    font-size: 1rem;
}
@media (max-width: 768px) {
    .ui-ticketDetails__headerButton__title {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.25;
    }
}
.ui-ticketDetails__headerButton__title__line {
    display: block;
}

.ui-ticketDetails__headerButton__toggleText {
    svg {
        margin-left: var(--spacings-medium);
    }

    svg,
    path {
        fill: currentColor;
    }
}

@media (max-width: 500px) {
    .ui-ticketDetails__headerButton__toggleText {
        display: none;
    }
}

.ui-ticketDetails__summaryBox p + p {
    margin-top: var(--spacings-medium);
}

.ui-ticketDetails__activeReservationLoading {
    --loaderSize: 2.75rem;
    --loaderWidth: 0.6rem;

    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: var(--loaderWidth) solid var(--colors-primary_3-backgroundColor);
    border-left-color: var(--text-colors-disabled);
    transform: translateZ(0);
    animation: loadReservation 2s infinite linear;

    border-radius: 50%;
    width: var(--loaderSize);
    height: var(--loaderSize);

    &:after {
        border-radius: 50%;
        width: var(--loaderSize);
        height: var(--loaderSize);
    }
}
@keyframes loadReservation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ui-heading {
    margin: 0;
    padding: 0;
}

.ui-pageHeader {
    padding: var(--spacings-medium);
    margin-bottom: var(--spacings-xLarge);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ui-pageHeader__title {
    padding: var(--spacings-medium);
    order: 2;
}
.ui-pageHeader__title:focus {
    outline: none;
}
.ui-pageHeader__back {
    order: 1;

    svg {
        margin-right: var(--spacings-medium);
    }
}

.ui-input-radio {
    display: flex;
    width: 100%;
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);

    border: var(--border-width-medium) solid transparent;
    // Remove border from padding.
    padding: (calc(var(--spacings-medium) - var(--border-width-medium)))
        (calc(var(--spacings-xLarge) - var(--border-width-medium)));
}
.ui-input-radio:hover {
    background: var(--colors-background_2-backgroundColor);
    color: var(--colors-background_2-color);
}
.ui-input-radio:active {
    background: var(--colors-background_3-backgroundColor);
    color: var(--colors-background_3-color);
}
.ui-input-radio__content {
    display: flex;
    width: 100%;
}
.ui-input-radio__input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    display: block;
}
.ui-input-radio__input:focus + .ui-input-radio {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-input-radio__box {
    display: block;
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    --padding: 2px;
    --border: 2px;
    border: var(--border) solid var(--text-colors-primary);
    padding: var(--padding);
    margin-right: var(--spacings-medium);
}
.ui-input-radio__box::after {
    content: '';
    display: block;
    height: calc(1rem - 2 * var(--padding));
    width: calc(1rem - 2 * var(--padding));
    border-radius: 50%;
}
.ui-input-radio__input:checked + .ui-input-radio .ui-input-radio__box::after {
    background: var(--text-colors-primary);
}
.ui-input-radio__title {
    flex: 1;
}
.ui-input-radio__subtitle {
    display: block;
}
.ui-input-radio__icon {
    padding-left: var(--spacings-medium);

    svg,
    path {
        fill: currentColor;
    }

    svg,
    img {
        width: var(--icon-size-normal);
        height: var(--icon-size-normal);
    }
}

.ui-input-radioGroup {
    border: 0;
    padding-bottom: var(--spacings-medium);
    margin: 0;
    background: var(--colors-background_0-backgroundColor);
}
.ui-input-radioGroup__legend {
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
    display: block;
    width: 100%;

    padding: var(--spacings-large);
    padding-bottom: 0;
}
.ui-input-radioGroup__legend--hidden {
    position: absolute;
    clip: rect(0 0 0 0);
}

/* Checkbox */

.ui-input-checkbox {
    display: flex;
    width: 100%;
    color: var(--colors-background_0-color);

    border: var(--border-width-medium) solid transparent;
}
.ui-input-checkbox:active {
    background: var(--colors-background_3-backgroundColor);
    color: var(--colors-background_3-color);
}
.ui-input-checkbox__input {
    position: absolute;
    opacity: 0;
    width: 1px;
}
.ui-input-checkbox__input:focus + .ui-input-checkbox {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-input-checkbox__box {
    height: 1.25rem;
    width: 1.25rem;
    padding-right: 1rem;

    svg,
    path {
        fill: currentColor;
    }
}
.ui-input-checkbox__title {
    flex: 1;
    margin-left: 1rem;
}

/* Button */

.ui-button {
    display: flex;
    flex: 1;
    cursor: pointer;
    margin: 0;

    border: var(--border-width-medium) solid transparent;
    // Remove border from padding.
    padding: calc(var(--spacings-xLarge) - 2 * var(--border-width-medium));

    text-align: left;
    justify-content: space-between;
    align-items: center;
    transition: filter 150ms ease-in;
}
a.ui-button {
    text-decoration: none;
}
.ui-button__icon > :not(.ui-button__coloredIcon) {
    svg,
    path {
        fill: currentColor;
    }
}
.ui-button:hover {
    filter: brightness(90%);
}
.ui-button:active {
    filter: brightness(80%);
}
.ui-button:focus {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-button:not(.ui-button--compact) {
    width: 100%;
}
.ui-button__icon {
    display: block;

    svg {
        display: block;
    }
}
.ui-button__icon--left {
    margin-right: var(--spacings-small);
}
.ui-button__icon--right {
    margin-left: var(--spacings-small);
}
a.ui-button--link,
.ui-button--link {
    background: transparent;
    color: var(--colors-background_0-color);
    text-decoration: underline;
    justify-content: center;
}
.ui-button--link:hover {
    text-decoration: none;
}
.ui-button--link:focus {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-button--tertiary {
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.ui-button--disabled {
    cursor: not-allowed;
}
.ui-button--disabled > * {
    opacity: 0.2;
}
.ui-button--disabled:hover {
    filter: none;
}
.ui-button--compact {
    display: inline-flex;
    flex: initial;
    padding: var(--spacings-medium);
}
.ui-button--compact:not(.ui-button--tertiary) {
    border-radius: var(--border-radius-regular);
}
.ui-button--compact.ui-button--tertiary:hover {
    filter: none;
    opacity: 0.6;
}
.ui-button--transparent {
    background: transparent;
}

.ui-textContainer--primary {
    color: var(--text-colors-primary);
}
.ui-button--primary:focus {
    border: var(--border-width-medium) solid
        var(--colors-primary_3-backgroundColor);
}

.ui-textContainer--secondary {
    color: var(--text-colors-secondary);
}
.ui-textContainer--disabled {
    color: var(--text-colors-disabled);
}
.ui-textContainer--destructive {
    color: var(--colors-primary_destructive-backgroundColor);
}

.ui-notifications {
    position: fixed;
    top: var(--spacings-xLarge);
    right: 0;

    padding: var(--spacings-medium);
    width: 100%;

    max-width: 25rem;

    max-height: 70vh;
    overflow: auto;

    z-index: 9999;
}

.ui-editSection {
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
}
.ui-editSection__icon {
    padding: var(--spacings-xLarge);
    align-self: flex-start;

    svg,
    path {
        fill: currentColor;
    }

    svg,
    img {
        width: var(--ws-icon-size-xLarge);
        height: var(--ws-icon-size-xLarge);
    }
}
.ui-editSection__editButton {
    margin: var(--spacings-medium);
    margin-left: auto;
    font-weight: normal;
}
.ui-editSection__container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.ui-editSection__content {
    flex: 1;
    min-width: 15.625rem;
}
.ui-editSection__fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
.ui-editSection__fieldset__legend {
    position: absolute;
    clip: rect(0 0 0 0);
}
.ui-editSection__fieldset__buttonGroup {
    width: 100%;
    display: flex;
    padding: var(--spacings-medium);
    justify-content: flex-end;
    align-items: center;

    animation: fadeIn 350ms;

    flex-wrap: wrap;
}
.ui-editSection__fieldset__buttonGroup__deleteText {
    margin-right: auto;
    padding: var(--spacings-medium);
    color: var(--status-error-main-backgroundColor);
}

.ui-editSection__horizontalGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.ui-editSection__horizontalGroup__icon {
    padding: var(--spacings-xLarge);

    svg {
        display: block;
    }
}

.ui-input-text {
    display: block;
    transition: border 150ms ease-in-out, background-color 100ms ease;
    border: var(--border-width-medium) solid transparent;

    // Remove border from padding.
    padding: calc(var(--spacings-xLarge) - var(--border-width-medium));

    svg,
    path {
        fill: currentColor;
    }

    svg {
        margin-right: var(--spacings-medium);
    }
}
.ui-input-text--disabled {
    cursor: not-allowed;
}
.ui-input-text--disabled > * {
    opacity: 0.2;
}
.ui-input-text--bordered {
    border-color: var(--border-primary);
}
.ui-input-text--error {
    border-color: var(--status-error-main-backgroundColor);
}
.ui-input-text__errorMessage {
    margin-top: var(--spacings-medium);
    display: flex;

    svg {
        display: block;
        flex-shrink: 0;
    }
}
.ui-input-text:hover {
    background: var(--colors-background_2-backgroundColor);
    color: var(--colors-background_2-color);
}
.ui-input-text:active {
    background: var(--colors-background_3-backgroundColor);
    color: var(--colors-background_3-color);
}
.ui-input-text:focus-within {
    border-color: var(--colors-primary_2-backgroundColor);
}
.ui-input-text__label {
    // All text labels for inputs needs to be set as blocks
    // to compansate for using spans instead of divs (html validation).
    margin-bottom: var(--spacings-medium);
    display: block;

    & > span {
        display: block;
    }
}
.ui-input-text__input {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: var(--text-colors-primary);

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s,
            color 5000s ease-in-out;
        -webkit-text-fill-color: currentColor !important;
    }

    option {
        background: var(--colors-background_0-backgroundColor);
        color: var(--colors-background_0-color);
    }
}
.ui-input-text__input[readonly] {
    color: var(--text-colors-secondary);
}

.dark ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.ui-input-text__input:focus {
    outline: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
        transform: translateY(-0.4rem);
    }
    30% {
        opacity: 0.4;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

// LoadingText.elm

.ui-loadingText {
    animation: placeHolderShimmer 1s linear infinite forwards,
        opacityIn 400ms ease;
    background: var(--colors-background_0-backgroundColor);
    background: linear-gradient(
        to right,
        var(--colors-background_2-backgroundColor) 8%,
        var(--colors-background_0-backgroundColor) 18%,
        var(--colors-background_2-backgroundColor) 33%
    );
    background-size: 800px 104px;
    height: 1rem;
    position: relative;
    display: inline-block;
    margin: 0 var(--spacings-xSmall);
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Ui.TravelCardText.elm

.ui-travelCardText__faded {
    color: var(--text-colors-secondary);
}

.ui-inlineButtonLink {
    display: contents;
    text-decoration: underline;
    background: transparent;
    color: var(--text-colors-primary);
    border: 0;
    font-size: var(--baseTypo-body__primary-fontSize, 1rem);
    line-height: var(--baseTypo-body__primary-lineHeight, 1.25rem);
    letter-spacing: var(--baseTypo-body__primary-letterSpacing, 0.03125rem);
    cursor: pointer;
}

.ui-inlineButtonLink:hover {
    text-decoration: none;
}

.ui-srOnly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.ui-icon--large svg {
    width: var(--ws-icon-size-xLarge);
    height: var(--ws-icon-size-xLarge);
}
.ui-icon--monochrome {
    svg,
    path {
        fill: currentColor;
    }
}

.ui-expandable {
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-regular);
    background: var(--colors-background_0-backgroundColor);
    color: var(--colors-background_0-color);
    margin-bottom: var(--spacings-medium);
}
.ui-expandable__header {
    margin: 0;
    padding: 0;
}
.ui-expandable__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 200ms ease-in-out;
    position: relative;
}
.ui-expandable__item:not(:last-child) {
    border-bottom: var(--border-width-slim) solid
        var(--colors-background_1-backgroundColor);
}
.ui-expandable__content--open {
    max-height: 600px;
    overflow: auto;
}

.ui-expandable__headerButton {
    font-family: var(--font-main);
    background: none;
    display: flex;
    width: 100%;
    border: 0;
    justify-content: space-between;
    align-items: center;
    color: var(--text-colors-primary);

    cursor: pointer;

    transition: all 150ms ease-in-out;
    border: var(--border-width-medium) solid transparent;
    // Remove border from padding.
    padding: calc(var(--spacings-xLarge) - 2 * var(--border-width-medium));

    svg,
    path {
        fill: currentColor;
    }
}
.ui-expandable__headerButton:hover {
    background: var(--colors-background_2-backgroundColor);
    color: var(--colors-background_2-color);
}
.ui-expandable__headerButton:focus {
    outline: 0;
    border: var(--border-width-medium) solid
        var(--colors-primary_2-backgroundColor);
}
.ui-expandable__headerButton:active {
    background: var(--colors-background_3-backgroundColor);
    color: var(--colors-background_3-color);
}
.ui-expandable__headerButton__title {
    display: block;
    flex: 1;
    text-align: left;
    padding: 0 var(--spacings-medium);
}
.ui-expandable__headerButton__expandText {
    margin: 0 var(--spacings-medium);
}

.ui-progressHeader {
    display: flex;
    flex-direction: column;
    padding: var(--spacings-medium);
}
.ui-progressHeader__progressContainer {
    order: 1;
    position: relative;
}
.ui-progressHeader__title {
    order: 2;
    text-align: center;
    margin: var(--spacings-medium);
}

.ui-progressHeader__title:focus {
    outline: none;
}

@media (max-width: 400px) {
    .ui-progressHeader {
        padding: 0;
    }
    .ui-progressHeader__progressContainer {
        padding-top: 2.5rem;
    }
}

.ui-progressHeader__button {
    position: absolute;
    top: 0;
}
.ui-progressHeader__button--left {
    left: var(--spacings-medium);
}
.ui-progressHeader__button--right {
    right: var(--spacings-medium);
}

.ui-progressHeader__dots {
    padding: var(--spacings-medium);
    display: flex;
    justify-content: center;
}

.ui-progressHeader__dot {
    border-radius: 50%;
    display: block;
    background: var(--colors-background_0-backgroundColor);
    height: var(--icon-size-normal);
    width: var(--icon-size-normal);
}
.ui-progressHeader__dot:not(:last-child) {
    margin-right: var(--spacings-medium);
}
.ui-progressHeader__dot--active {
    background: var(--colors-primary_2-backgroundColor);
}

.ui-accessibleFieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
.ui-accessibleFieldset__legend {
    position: absolute;
    clip: rect(0 0 0 0);
}

.ui-hamburgerButton {
    --distance: 0.5rem;

    width: 3.25rem;
    height: 2.75rem;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

    background: transparent;
    border: 0;
    cursor: pointer;
    color: var(--colors-background_accent-color);

    font-size: var(--baseTypo-body__primary-fontSize, 1rem);
    line-height: var(--baseTypo-body__primary-lineHeight, 1.25rem);
    letter-spacing: var(--baseTypo-body__primary-letterSpacing, 0.03125rem);
}
.ui-hamburgerButton:hover {
    opacity: 0.6;
}
.ui-hamburgerButton:active {
    opacity: 0.4;
}

.ui-hamburgerButton span {
    display: block;
    position: absolute;
    height: 0.25rem;
    background: var(--colors-background_accent-color);
    border-radius: 0.25rem;
    opacity: 1;
    left: var(--spacings-medium);
    width: calc(100% - var(--spacings-medium) * 2);
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.ui-hamburgerButton span:nth-child(1) {
    top: calc(0.25rem + var(--distance));
    transform-origin: left center;
}

.ui-hamburgerButton span:nth-child(2) {
    top: calc(0.25rem + 2 * var(--distance));
    transform-origin: left center;
}

.ui-hamburgerButton span:nth-child(3) {
    top: calc(0.25rem + 3 * var(--distance));
    transform-origin: left center;
}

.ui-hamburgerButton--open span:nth-child(1) {
    transform: rotate(45deg);
    top: calc(0.25rem + var(--distance) - 1px);
    left: calc(var(--spacings-medium) + 1px);
}

.ui-hamburgerButton--open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.ui-hamburgerButton--open span:nth-child(3) {
    transform: rotate(-45deg);
    top: calc(0.25rem + 3 * var(--distance) + 3px);
    left: calc(var(--spacings-medium) + 1px);
}

// Dark Icon management

.ui-img-dark > img {
    display: block;
}
