<!DOCTYPE html>
<html lang="no">
    <head>
        <title><%= elmFlags.orgConf.siteTitle %></title>

        <link rel="manifest" href="/manifest.json" />
        <meta name="theme-color" content="#eee" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
            name="application-name"
            content="<%= elmFlags.orgConf.siteTitle %>"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />
        <meta
            name="apple-mobile-web-app-title"
            content="<%= elmFlags.orgConf.siteTitle %>"
        />
        <link rel="icon" href="/assets/colors/icons/favicon.svg" />

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
            rel="stylesheet"
        />

        <% if (typeof gaTrackingId != 'undefined') { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=<%= gaTrackingId %>"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '<%= gaTrackingId %>');
        </script>
        <% } %> <% if (intercomEnabled) { %>
        <script>
            // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/vdemedo2'
            (function () {
                var w = window;
                var ic = w.Intercom;
                if (typeof ic === 'function') {
                    ic('reattach_activator');
                    ic('update', w.intercomSettings);
                } else {
                    var d = document;
                    var i = function () {
                        i.c(arguments);
                    };
                    i.q = [];
                    i.c = function (args) {
                        i.q.push(args);
                    };
                    w.Intercom = i;
                    var l = function () {
                        var s = d.createElement('script');
                        s.type = 'text/javascript';
                        s.async = true;
                        s.src = 'https://widget.intercom.io/widget/vdemedo2';
                        var x = d.getElementsByTagName('script')[0];
                        x.parentNode.insertBefore(s, x);
                    };
                    if (w.attachEvent) {
                        w.attachEvent('onload', l);
                    } else {
                        w.addEventListener('load', l, false);
                    }
                }
            })();
        </script>
        <% } %>
    </head>
    <body>
        <noscript>
            <h2>I need to execute some JS to work 😞</h2>
        </noscript>
    </body>
</html>
